name: build

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    name: Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ 'ubuntu-20.04' ]
    steps:
      - uses: actions/checkout@v2
      - uses: crystal-lang/install-crystal@v1
      - run: sudo apt -qy install libhts-dev checkinstall
      - run: shards install --pkgname=bam-filter --version
      - run: make
      - run: sudo checkinstall --pkgname=bam-filter
                               --pkgversion=$(echo ${{ github.ref }} | sed -e "s#refs/tags/v##g")
                               --maintainer=2xijok@gmail.com
                               --requires=libhts-dev
                               --nodoc -y
      - uses: softprops/action-gh-release@v1
        with:
          files: "bam-filter*.deb"

