name: build

on:
  push:

jobs:
  release:
    name: Release
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
    steps:
      - uses: actions/checkout@v3
      - uses: crystal-lang/install-crystal@v1
      - run: sudo apt -qy install libhts-dev checkinstall
      - run: shards install
      - run: make
      - run: bash test.sh
      - run: sudo checkinstall --pkgname=bam-filter
                               --pkgversion=$(echo ${{ github.ref }} | sed -e "s#refs/tags/v##g")
                               --maintainer=2xijok@gmail.com
                               --requires=libhts-dev,libc6,libpcre3,libevent-dev,libgc-dev
                               --nodoc -y
      - uses: actions/upload-artifact@v3
        with:
          name: bam-filter_${{ matrix.os }}_amd64.deb
          path: "bam-filter*.deb"

